.landing-container {
  height: 100%;
  width: 100%;

  .landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: url('~assets/images/landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
