.header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: rgb(37, 37, 37);
  padding: 1.5em 5em;
  z-index: 2;
  position: relative;

  .version-tag {
    color: #888787;
    margin-left: -4em;
    margin-top: -1em;
  }
}
